@keyframes smooth {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes scale {
  0% {
    transform: scale(0.5, .5);
  }
  100% {
    transform: scale(1, 1);
  }
}

* {
  margin: 0;
  font-size: 1.5rem;
}

.body {
  background-color: antiquewhite;
}

.bayan {
  max-width: 1920px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 0 50px;
}

.bayan-title {
  padding: 20px 0;
}

.label {
  border-top: 1px solid rgba(136, 134, 134, .3);
  display: grid;
  grid-template-areas:
  "title icon"
  "image image";
  gap: 10px;
}

.invisible-checkbox {
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip-path: inset(0 0 0 0);
}

.visible-checkbox {
  grid-area: title;
  display: flex;
  padding: 20px 0;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.icon {
  grid-area: icon;
  width: 30px;
  height: 30px;
  background-image: url(images/icons/plus.svg);
  background-size: cover;
  background-repeat: no-repeat;
  align-self: center;
  justify-self: end;
}

.visible-checkbox + .icon {
  background-image: none;
  cursor: pointer;
}

.invisible-checkbox:not(:checked) + .visible-checkbox {
  cursor: pointer;
  color: rgba(160, 131, 37, .8);
  transition: color 1s;
}

.invisible-checkbox:checked + .visible-checkbox {
  cursor: pointer;
  color: black;
}

.bayan:hover > .label > .invisible-checkbox:hover + .visible-checkbox  + .icon {
  background-image: url(images/icons/cross.svg);
  animation: smooth 1s;
}

.bayan:hover > .label > .invisible-checkbox + .visible-checkbox + .icon {
  background-image: url(images/icons/plus.svg);
  animation: smooth 1s;
}

.mem {
  grid-area: image;
  display: none;
  max-width: 75vw;
  max-height: 75vh;
  cursor: pointer;
  padding-bottom: 20px;
  animation: smooth 1s, scale 1s;
  margin: 0 auto;
}

.bayan:hover > .label > .invisible-checkbox:checked + .visible-checkbox + .icon {
  background-image: url(images/icons/cross.svg);
  animation: smooth 1s;
}

.bayan:hover > .label > .invisible-checkbox:checked + .visible-checkbox {
  color: black;
  transition: color 1s;
}

.invisible-checkbox:checked + .visible-checkbox + .icon + .mem {
  display: block;
}

.invisible-checkbox:hover + .visible-checkbox  + .icon + .mem {
  display: block;
}

.bayan:hover > .label > .invisible-checkbox:not(:checked) + .visible-checkbox {
  color: black;
  transition: color 1s;
}

.bayan:hover > .label > .invisible-checkbox:active + .visible-checkbox {
  cursor: pointer;
  color: rgba(160, 131, 37, .8);
}

.bayan > .label > .invisible-checkbox:active + .visible-checkbox + .icon + .mem {
  cursor: pointer;
  opacity: .7;
  animation: smooth 1s;
}

@media screen and (hover: hover) and (max-width: 1919px) {
  * {
    font-size: 1.4rem;
  }

  .bayan {
    padding: 0 30px;
  }
}

@media screen and (hover: none) and (max-width: 820px) {
  * {
    font-size: 1.3rem;
  }

  .bayan {
    padding: 0 20px;
  }
}